@import 'styles/media.scss';

.Testimonial {
  position: relative;
  padding: 40px 0;
  @include min-respond(desktop) {
    padding: 128px 0;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $color-primary;
    width: 100vw;
    height: 100%;
    content: '';
    z-index: -1;
  }

  .Quote {
    margin-bottom: 68px;

    img {
      object-fit: contain;
    }
  }

  .Content {

    margin-bottom: 46px;
    @include min-respond(desktop) {
      padding-right: 108px;
      margin-bottom: 96px;
    }
    h3 {

      color: $color-secondary;
      font-family: Inter;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      text-align: left;
    }
  }

  .Author {
    h3 {
      color: $color-grey;
      font-family: Inter;
      font-size: 24px;
      line-height: 29px;
      text-align: left;
      font-weight: 400;
    }

  }
}