@import 'styles/media.scss';

.Input {
  background-color: $color-secondary;
  border-radius: 24px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  max-width: 70%;

  &::placeholder {
    color: $color-primary;
  }

  &:focus {
    outline: none;

  }
}