@import 'styles/media.scss';

.MainNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 64px;
  border-bottom: 1px solid $color-secondary;
  background: $color-white;
  gap: 15px;
  @include min-respond(desktop) {
    flex-direction: row;
    justify-content: space-between;

  }

  .Logo {

    display: flex;
    align-items: center;
    justify-content: center;
    @include min-respond(desktop) {
      margin-right: 97px;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;

    li {
      a {
        color: $color-primary;
        font-family: Inter;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
      }
    }
  }

  nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include min-respond(desktop) {
      margin-right: auto;
      margin-left: 0;
    }
  }
}